body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  display: flex;
  flex-flow: column;
  border: thick solid black;
  margin-top: 70px;
  max-width: 300px;
  min-height: 400px;
}

.displays {
  display: flex;
  flex-direction: column;
}

#resultDisplay,
#operationDisplay {
  height: 70px;
  border: thin solid black;
  font-size: 50px;
  padding-right: 5px;
  display: flex;
  justify-content: end;
}

.buttons {
  display: flex;
  flex-flow: row wrap;
}

.numbers,
.operators,
.clear,
.res {
  width: 25%; /* Adjust as needed */
}

button {
  height: 80px;
  font-size: 40px;
}
